<!DOCTYPE html>
<html>
  <head>
    <title>VuejsRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="point">
    <input type="text" v-model="name">
    {{ name }}
    <%= yield %>
  </div>
  </body>
</html>
